---
---

/*!------------------------------------------------------------------
[MAIN STYLESHEET]

PROJECT:	Project Name
VERSION:	Versoin Number
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[TABLE OF CONTENTS]
-------------------------------------------------------------------*/

@import 'variables';

@import 'mixins';

@import 'typography';

@import 'buttons';

@import 'common';

@import 'templates/navigation';

@import 'templates/hero-area';

@import 'templates/homepage';

@import 'templates/blog';

@import 'templates/about';

@import 'templates/portfolio';

.project-description {
  font-size: 16px;
  line-height: 1.5;
  color: #666;
}

.portfolio-button {
  background-color: #000000;
  color: #ffffff;
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;

  /* Position the button in the center of the screen */
  margin: 0 auto;
  /* Display the button as a block element */
  display: block;
  /* Add some space around the button */
  margin-top: 20px;
  margin-bottom: 20px;
}
